In [2]:
import numpy as np
import pandas as pd

In [4]:
docs_vec = np.loadtxt('gensim/docs_vec.txt', delimiter=' ')
docs_vec.shape

(27770, 4200)

In [22]:
docs_vec.dtype

dtype('float64')

In [8]:
node_info = pd.read_csv('data/node_information.csv', header=None)
node_info.columns = ['id', 'year', 'title', 'authors', 'journal', 'abstract']
node_info.head()

,id,year,title,authors,journal,abstract
0,1001,2000,compactification geometry and duality,Paul S. Aspinwall,NaN,these are notes based on lectures given at tas...
1,1002,2000,domain walls and massive gauged supergravity p...,"M. Cvetic, H. Lu, C.N. Pope",Class.Quant.Grav.,we point out that massive gauged supergravity ...
2,1003,2000,comment on metric fluctuations in brane worlds,"Y.S. Myung, Gungwon Kang",NaN,recently ivanov and volovich hep-th 9912242 cl...
3,1004,2000,moving mirrors and thermodynamic paradoxes,Adam D. Helfer,Phys.Rev.,quantum fields responding to moving mirrors ha...
4,1005,2000,bundles of chiral blocks and boundary conditio...,"J. Fuchs, C. Schweigert",NaN,proceedings of lie iii clausthal july 1999 var...

In [9]:
train = pd.read_csv('data/training_set.txt', delimiter=' ', header=None)
train.columns = ['id1', 'id2', 'link']
train.head()

       id1      id2  link
0  9510123  9502114     1
1  9707075  9604178     1
2  9312155  9506142     0
3  9911255   302165     0
4  9701033   209076     0

In [10]:
test = pd.read_csv('data/testing_set.txt', delimiter=' ', header=None)
test.columns = ['id1', 'id2']
test.head()

       id1      id2
0  9807076  9807139
1   109162     1182
2  9702187  9510135
3   111048   110115
4  9910176  9410073

In [11]:
id2rno = {}
for idx, row in enumerate(node_info['id']):
    id2rno[row] = idx
id2rno

{9306112: 12159,
 9306114: 12160,
 9306115: 12161,
 9306116: 12162,
 9306117: 12163,
 9306118: 12164,
 9306119: 12165,
 9306120: 12166,
 9306122: 12167,
 9306123: 12168,
 9306125: 12169,
 9306129: 12170,
 9306130: 12171,
 9306131: 12172,
 9306132: 12173,
 9306134: 12174,
 9306135: 12175,
 9306136: 12176,
 9306137: 12177,
 9306139: 12178,
 9306140: 12179,
 9306141: 12180,
 9306142: 12181,
 9306144: 12182,
 9306145: 12183,
 9306146: 12184,
 9306147: 12185,
 9306148: 12186,
 9306149: 12187,
 9306150: 12188,
 9306151: 12189,
 9306152: 12190,
 9306153: 12191,
 9306154: 12192,
 9306155: 12193,
 9306156: 12194,
 9306157: 12195,
 9306161: 12196,
 9306162: 12197,
 9306163: 12198,
 9306164: 12199,
 9302042: 11546,
 9807081: 23779,
 9903101: 25509,
 9903102: 25510,
 9903103: 25511,
 9903105: 25513,
 9503001: 15494,
 9503002: 15495,
 9503003: 15496,
 9503005: 15497,
 9503008: 15498,
 9503009: 15499,
 9503010: 15500,
 9503011: 15501,
 9503012: 15502,
 9503013: 15503,
 9503014: 15504,
 9503015: 15505,
 9503016: 15506,
 9503017: 15507,
 9503019: 15508,
 9503020: 15509,
 9503021: 15510,
 9503022: 15511,
 9503023: 15512,
 9503024: 15513,
 9503025: 15514,
 9503026: 15515,
 9503027: 15516,
 9503028: 15517,
 9503029: 15518,
 9503030: 15519,
 9503031: 15520,
 9503032: 15521,
 9503033: 15522,
 9503034: 15523,
 9503036: 15524,
 9503037: 15525,
 9503038: 15526,
 9503039: 15527,
 9503040: 15528,
 9503041: 15529,
 9503042: 15530,
 9503043: 15531,
 9503044: 15532,
 9503045: 15533,
 9503046: 15534,
 9503047: 15535,
 9503048: 15536,
 9503049: 15537,
 9503051: 15538,
 9503052: 15539,
 9503053: 15540,
 9503055: 15541,
 9503056: 15542,
 9503057: 15543,
 9503058: 15544,
 9503060: 15545,
 9503061: 15546,
 9503062: 15547,
 9503063: 15548,
 9503064: 15549,
 9503065: 15550,
 9503066: 15551,
 9503067: 15552,
 9503068: 15553,
 9503069: 15554,
 9503070: 15555,
 9503071: 15556,
 9503072: 15557,
 9503074: 15558,
 9503075: 15559,
 9503077: 15560,
 9503078: 15561,
 9503079: 15562,
 9503080: 15563,
 9503082: 15564,
 9503083: 15565,
 9503084: 15566,
 9503086: 15567,
 9503087: 15568,
 9503088: 15569,
 9503089: 15570,
 9503090: 15571,
 9503091: 15572,
 9503092: 15573,
 9503093: 15574,
 9503094: 15575,
 9503095: 15576,
 9503096: 15577,
 9503097: 15578,
 9503098: 15579,
 9503099: 15580,
 9503100: 15581,
 9503101: 15582,
 9503102: 15583,
 9503103: 15584,
 9503104: 15585,
 9503105: 15586,
 9503106: 15587,
 9503107: 15588,
 9503109: 15589,
 9503110: 15590,
 9503111: 15591,
 9503112: 15592,
 9503113: 15593,
 9503114: 15594,
 9503115: 15595,
 9503116: 15596,
 9503117: 15597,
 9503118: 15598,
 9503120: 15599,
 9503121: 15600,
 9503122: 15601,
 9503123: 15602,
 9503124: 15603,
 9503125: 15604,
 9503126: 15605,
 9503127: 15606,
 9503128: 15607,
 9503129: 15608,
 9503130: 15609,
 9503131: 15610,
 9503132: 15611,
 9503133: 15612,
 9503134: 15613,
 9503136: 15614,
 9503137: 15615,
 9503139: 15616,
 9503140: 15617,
 9503141: 15618,
 9503142: 15619,
 9503143: 15620,
 9503144: 15621,
 9503145: 15622,
 9503147: 15623,
 9503148: 15624,
 9503149: 15625,
 9503150: 15626,
 9503152: 15627,
 9503153: 15628,
 9503154: 15629,
 9503155: 15630,
 9503157: 15631,
 9503158: 15632,
 9503159: 15633,
 9503160: 15634,
 9503161: 15635,
 9503162: 15636,
 9503163: 15637,
 9503164: 15638,
 9503165: 15639,
 9503166: 15640,
 9503167: 15641,
 9503168: 15642,
 9503169: 15643,
 9503170: 15644,
 9503171: 15645,
 9503172: 15646,
 9503174: 15647,
 9503175: 15648,
 9503176: 15649,
 9503177: 15650,
 9503178: 15651,
 9503179: 15652,
 9503180: 15653,
 9503181: 15654,
 9503182: 15655,
 9503184: 15656,
 9503185: 15657,
 9503186: 15658,
 9503187: 15659,
 9503188: 15660,
 9503189: 15661,
 9503190: 15662,
 9503191: 15663,
 9503192: 15664,
 9503193: 15665,
 9503194: 15666,
 9503195: 15667,
 9503196: 15668,
 9503197: 15669,
 9503198: 15670,
 9503199: 15671,
 9503200: 15672,
 9503201: 15673,
 9503202: 15674,
 9503203: 15675,
 9503204: 15676,
 9503205: 15677,
 9503206: 15678,
 9503207: 15679,
 9503208: 15680,
 9503209: 15681,
 9503210: 15682,
 9503211: 15683,
 9503212: 15684,
 9503213: 15685,
 9503214: 15686,
 9503215: 15687,
 9503216: 15688,
 9503217: 15689,
 9503218: 15690,
 9503219: 15691,
 9503220: 15692,
 9503221: 15693,
 9503222: 15694,
 9503223: 15695,
 9503224: 15696,
 9503225: 15697,
 9503226: 15698,
 9503227: 15699,
 9503228: 15700,
 9503229: 15701,
 9503230: 15702,
 9503231: 15703,
 9503232: 15704,
 9503233: 15705,
 9503234: 15706,
 9503235: 15707,
 9503236: 15708,
 9503237: 15709,
 9711075: 22030,
 9906091: 26193,
 9902163: 25365,
 9901112: 25159,
 9902164: 25366,
 9903269: 25672,
 9907001: 26346,
 9711086: 22041,
 9907002: 26347,
 9907003: 26348,
 9907004: 26349,
 9907006: 26350,
 9307001: 12200,
 9307002: 12201,
 9307003: 12202,
 9307005: 12203,
 9307006: 12204,
 9307007: 12205,
 9307008: 12206,
 9307009: 12207,
 9307010: 12208,
 9307011: 12209,
 9307012: 12210,
 9307013: 12211,
 9307015: 12212,
 9307016: 12213,
 9307017: 12214,
 9307018: 12215,
 9307022: 12216,
 9307023: 12217,
 9307024: 12218,
 9307025: 12219,
 9307026: 12220,
 9307027: 12221,
 9307029: 12222,
 9307030: 12223,
 9307031: 12224,
 9307032: 12225,
 9307033: 12226,
 9307034: 12227,
 9307035: 12228,
 9307036: 12229,
 9307037: 12230,
 9307038: 12231,
 9307039: 12232,
 9307040: 12233,
 9307042: 12234,
 9307043: 12235,
 9307045: 12236,
 9307046: 12237,
 9307047: 12238,
 9307048: 12239,
 9307049: 12240,
 9307050: 12241,
 9307051: 12242,
 9307052: 12243,
 9307053: 12244,
 9307054: 12245,
 9307055: 12246,
 9307056: 12247,
 9307057: 12248,
 9307059: 12249,
 9307060: 12250,
 9307061: 12251,
 9307062: 12252,
 9307063: 12253,
 9307064: 12254,
 9307065: 12255,
 9307066: 12256,
 9307067: 12257,
 9307068: 12258,
 9307069: 12259,
 9307071: 12260,
 9307072: 12261,
 9307073: 12262,
 9307074: 12263,
 9307075: 12264,
 9307076: 12265,
 9307078: 12266,
 9307079: 12267,
 9307080: 12268,
 9907020: 26363,
 9307083: 12269,
 9307085: 12270,
 9307086: 12271,
 9307087: 12272,
 9307088: 12273,
 9307089: 12274,
 9307091: 12275,
 9307092: 12276,
 9307093: 12277,
 9307094: 12278,
 9307095: 12279,
 9307096: 12280,
 9307097: 12281,
 9307099: 12282,
 9307101: 12283,
 9307102: 12284,
 9307103: 12285,
 9307104: 12286,
 9307105: 12287,
 9307106: 12288,
 9307107: 12289,
 9307108: 12290,
 9307109: 12291,
 9307110: 12292,
 9307111: 12293,
 9307112: 12294,
 1001: 0,
 1002: 1,
 1003: 2,
 1004: 3,
 1005: 4,
 1006: 5,
 1007: 6,
 1008: 7,
 1009: 8,
 1010: 9,
 1011: 10,
 1012: 11,
 1013: 12,
 1014: 13,
 1015: 14,
 1016: 15,
 1017: 16,
 1018: 17,
 1019: 18,
 1020: 19,
 1021: 20,
 1022: 21,
 1023: 22,
 1024: 23,
 1025: 24,
 1026: 25,
 1027: 26,
 1028: 27,
 1029: 28,
 1030: 29,
 1031: 30,
 1032: 31,
 1033: 32,
 1034: 33,
 1035: 34,
 1036: 35,
 1037: 36,
 1038: 37,
 1039: 38,
 1040: 39,
 1041: 40,
 1042: 41,
 9307155: 12328,
 1044: 42,
 1045: 43,
 1046: 44,
 1047: 45,
 1048: 46,
 1049: 47,
 1050: 48,
 1051: 49,
 1052: 50,
 1053: 51,
 1054: 52,
 1055: 53,
 1056: 54,
 1057: 55,
 9307170: 12340,
 9307171: 12341,
 1060: 56,
 1061: 57,
 1062: 58,
 1063: 59,
 1064: 60,
 1065: 61,
 1066: 62,
 1067: 63,
 1068: 64,
 1069: 65,
 1070: 66,
 1071: 67,
 1072: 68,
 1073: 69,
 1074: 70,
 1075: 71,
 1076: 72,
 1077: 73,
 9307190: 12359,
 1080: 74,
 1081: 75,
 1082: 76,
 1083: 77,
 1084: 78,
 1085: 79,
 1086: 80,
 1087: 81,
 1088: 82,
 1089: 83,
 1090: 84,
 1091: 85,
 1092: 86,
 1093: 87,
 1094: 88,
 1095: 89,
 1096: 90,
 1097: 91,
 1098: 92,
 1100: 93,
 1101: 94,
 1102: 95,
 1103: 96,
 1105: 97,
 1106: 98,
 1107: 99,
 1108: 100,
 1109: 101,
 1110: 102,
 1111: 103,
 1112: 104,
 1113: 105,
 1114: 106,
 1115: 107,
 1116: 108,
 1117: 109,
 1118: 110,
 1119: 111,
 1121: 112,
 1122: 113,
 1123: 114,
 1124: 115,
 1125: 116,
 1126: 117,
 1127: 118,
 1128: 119,
 1129: 120,
 1130: 121,
 1131: 122,
 1132: 123,
 1133: 124,
 1134: 125,
 1135: 126,
 1136: 127,
 1137: 128,
 1138: 129,
 1140: 130,
 1141: 131,
 1142: 132,
 1143: 133,
 1144: 134,
 1145: 135,
 1146: 136,
 1147: 137,
 1148: 138,
 1149: 139,
 1150: 140,
 1151: 141,
 1152: 142,
 1153: 143,
 1154: 144,
 1155: 145,
 1156: 146,
 1157: 147,
 1158: 148,
 1159: 149,
 1160: 150,
 1161: 151,
 1162: 152,
 1163: 153,
 1164: 154,
 1165: 155,
 1166: 156,
 1167: 157,
 1168: 158,
 1169: 159,
 1170: 160,
 1171: 161,
 1172: 162,
 1173: 163,
 1174: 164,
 1175: 165,
 1176: 166,
 1177: 167,
 1178: 168,
 1179: 169,
 1180: 170,
 1181: 171,
 1182: 172,
 1183: 173,
 1184: 174,
 1185: 175,
 1186: 176,
 1187: 177,
 1188: 178,
 1189: 179,
 1190: 180,
 1191: 181,
 1192: 182,
 1193: 183,
 1194: 184,
 1195: 185,
 1196: 186,
 1197: 187,
 1198: 188,
 1199: 189,
 1200: 190,
 1201: 191,
 1202: 192,
 1203: 193,
 1204: 194,
 1205: 195,
 1206: 196,
 1207: 197,
 1208: 198,
 1209: 199,
 1210: 200,
 1211: 201,
 1212: 202,
 1213: 203,
 1214: 204,
 1215: 205,
 1216: 206,
 1217: 207,
 1218: 208,
 1219: 209,
 1220: 210,
 1221: 211,
 1222: 212,
 9907063: 26405,
 9907064: 26406,
 9907066: 26408,
 9903138: 25546,
 9907068: 26410,
 9412035: 15020,
 9907069: 26411,
 9907070: 26412,
 9907071: 26413,
 9504001: 15710,
 9504002: 15711,
 9504003: 15712,
 9504004: 15713,
 9504005: 15714,
 9504006: 15715,
 9504007: 15716,
 9504008: 15717,
 9504009: 15718,
 9504010: 15719,
 9504011: 15720,
 9504012: 15721,
 9504013: 15722,
 9504014: 15723,
 9504015: 15724,
 9504016: 15725,
 9504017: 15726,
 9504018: 15727,
 9504019: 15728,
 9504020: 15729,
 9504021: 15730,
 9504022: 15731,
 9504023: 15732,
 9504024: 15733,
 9504025: 15734,
 9504026: 15735,
 9504027: 15736,
 9504028: 15737,
 9504029: 15738,
 9504030: 15739,
 9504031: 15740,
 9504032: 15741,
 9504033: 15742,
 9504034: 15743,
 9504035: 15744,
 9504036: 15745,
 9504037: 15746,
 9504038: 15747,
 9504040: 15748,
 9504041: 15749,
 9504042: 15750,
 9504043: 15751,
 9504044: 15752,
 9504045: 15753,
 9504046: 15754,
 9504047: 15755,
 9504049: 15756,
 9504050: 15757,
 9504051: 15758,
 9504052: 15759,
 9504053: 15760,
 9504054: 15761,
 9504055: 15762,
 9504056: 15763,
 9504057: 15764,
 9504058: 15765,
 9504059: 15766,
 9504060: 15767,
 9504061: 15768,
 9504062: 15769,
 9902168: 25370,
 9504064: 15770,
 9504065: 15771,
 9504066: 15772,
 9504067: 15773,
 9504068: 15774,
 9504069: 15775,
 9504070: 15776,
 9504071: 15777,
 9907084: 26425,
 9504074: 15778,
 9504075: 15779,
 9504076: 15780,
 9504077: 15781,
 9504079: 15782,
 9504080: 15783,
 9504081: 15784,
 9504082: 15785,
 9504083: 15786,
 9504084: 15787,
 9504085: 15788,
 9504086: 15789,
 9504087: 15790,
 9504088: 15791,
 9504089: 15792,
 9504090: 15793,
 9504091: 15794,
 9504092: 15795,
 9504093: 15796,
 9504094: 15797,
 9504095: 15798,
 9504096: 15799,
 9504097: 15800,
 9504098: 15801,
 9504099: 15802,
 9504100: 15803,
 9504101: 15804,
 9504102: 15805,
 9504103: 15806,
 9504104: 15807,
 9504105: 15808,
 9504106: 15809,
 9504108: 15810,
 9504109: 15811,
 9504110: 15812,
 9504111: 15813,
 9504112: 15814,
 9504113: 15815,
 9504114: 15816,
 9504115: 15817,
 9504116: 15818,
 9504117: 15819,
 9504118: 15820,
 9504119: 15821,
 9504120: 15822,
 9504121: 15823,
 9504122: 15824,
 9504123: 15825,
 9504124: 15826,
 9504125: 15827,
 9504126: 15828,
 9504127: 15829,
 9504129: 15830,
 9504130: 15831,
 9504131: 15832,
 9504132: 15833,
 9504133: 15834,
 9504134: 15835,
 9504135: 15836,
 9504136: 15837,
 9504137: 15838,
 9504138: 15839,
 9504139: 15840,
 9504140: 15841,
 9504141: 15842,
 9504142: 15843,
 9504143: 15844,
 9504144: 15845,
 9504145: 15846,
 9504146: 15847,
 9504147: 15848,
 9504148: 15849,
 9504149: 15850,
 9504150: 15851,
 9504151: 15852,
 9504153: 15853,
 9504154: 15854,
 9504155: 15855,
 9504156: 15856,
 9504157: 15857,
 9504158: 15858,
 9504159: 15859,
 9504160: 15860,
 9504161: 15861,
 9504162: 15862,
 9504163: 15863,
 9504164: 15864,
 9907100: 26441,
 9907101: 26442,
 9903145: 25553,
 9907103: 26444,
 9907104: 26445,
 9907105: 26446,
 9907106: 26447,
 9903146: 25554,
 9902169: 25371,
 9907108: 26449,
 9907109: 26450,
 9907110: 26451,
 9903042: 25452,
 9907111: 26452,
 9903147: 25555,
 9907113: 26454,
 9907114: 26455,
 9907115: 26456,
 9907116: 26457,
 9907117: 26458,
 9907118: 26459,
 9907119: 26460,
 9907120: 26461,
 9907121: 26462,
 9903149: 25557,
 9907123: 26464,
 9907124: 26465,
 9907125: 26466,
 9907126: 26467,
 9903150: 25558,
 9907128: 26469,
 9907129: 26470,
 9907130: 26471,
 9907131: 26472,
 9907132: 26473,
 9907133: 26474,
 9907134: 26475,
 9907135: 26476,
 9903043: 25453,
 9907136: 26477,
 9903152: 25559,
 9701001: 19826,
 9701002: 19827,
 9701003: 19828,
 9701004: 19829,
 9701005: 19830,
 9701006: 19831,
 9701007: 19832,
 9701008: 19833,
 9701009: 19834,
 9701010: 19835,
 9701011: 19836,
 9701012: 19837,
 9701013: 19838,
 9701014: 19839,
 9701015: 19840,
 9701016: 19841,
 9701017: 19842,
 9701018: 19843,
 9701019: 19844,
 9701020: 19845,
 9701021: 19846,
 9701022: 19847,
 9701023: 19848,
 9701024: 19849,
 9701025: 19850,
 9701026: 19851,
 9701027: 19852,
 9701028: 19853,
 9701029: 19854,
 9701032: 19855,
 9701033: 19856,
 9701034: 19857,
 9701035: 19858,
 9701036: 19859,
 9701037: 19860,
 9701039: 19861,
 9701040: 19862,
 9701041: 19863,
 9701042: 19864,
 9701043: 19865,
 9701044: 19866,
 9701045: 19867,
 9701047: 19868,
 9701048: 19869,
 9701049: 19870,
 9701050: 19871,
 9701051: 19872,
 9701052: 19873,
 9701053: 19874,
 9701054: 19875,
 9701055: 19876,
 9701056: 19877,
 9701057: 19878,
 9701058: 19879,
 9701059: 19880,
 9701060: 19881,
 9701061: 19882,
 9701062: 19883,
 9701063: 19884,
 9701064: 19885,
 9701065: 19886,
 9701066: 19887,
 9701067: 19888,
 9701068: 19889,
 9701069: 19890,
 9701070: 19891,
 9701071: 19892,
 9701072: 19893,
 9701073: 19894,
 9701074: 19895,
 9701075: 19896,
 9701076: 19897,
 9701077: 19898,
 9701078: 19899,
 9701079: 19900,
 9701080: 19901,
 9701081: 19902,
 9701082: 19903,
 9701083: 19904,
 9701084: 19905,
 9701085: 19906,
 9701087: 19907,
 9701088: 19908,
 9903155: 25562,
 9701090: 19909,
 9701091: 19910,
 9701092: 19911,
 9701093: 19912,
 9701094: 19913,
 9701095: 19914,
 9701096: 19915,
 9701097: 19916,
 9701098: 19917,
 9701099: 19918,
 9701100: 19919,
 9701101: 19920,
 9701102: 19921,
 9701103: 19922,
 9701104: 19923,
 9701105: 19924,
 9701106: 19925,
 9701107: 19926,
 9701108: 19927,
 9701109: 19928,
 9701111: 19929,
 9701112: 19930,
 9701113: 19931,
 9701114: 19932,
 9701115: 19933,
 9701116: 19934,
 9701117: 19935,
 9701118: 19936,
 9701119: 19937,
 9701120: 19938,
 9701121: 19939,
 9701122: 19940,
 9701123: 19941,
 9701124: 19942,
 9701125: 19943,
 9701126: 19944,
 9701127: 19945,
 9701128: 19946,
 9701129: 19947,
 9701130: 19948,
 9701131: 19949,
 9701132: 19950,
 9701133: 19951,
 9701134: 19952,
 9701135: 19953,
 9701136: 19954,
 9701137: 19955,
 9701138: 19956,
 9701139: 19957,
 9701140: 19958,
 9701141: 19959,
 9701142: 19960,
 9701143: 19961,
 9701144: 19962,
 9701145: 19963,
 9701146: 19964,
 9701147: 19965,
 9701148: 19966,
 9701149: 19967,
 9701150: 19968,
 9701151: 19969,
 9701152: 19970,
 9701153: 19971,
 9701154: 19972,
 9701155: 19973,
 9701156: 19974,
 9701157: 19975,
 9701158: 19976,
 9701160: 19977,
 9701161: 19978,
 9701162: 19979,
 9701163: 19980,
 9701165: 19981,
 9701166: 19982,
 9907165: 26504,
 9701168: 19983,
 9701169: 19984,
 9701170: 19985,
 9701171: 19986,
 9701172: 19987,
 9701173: 19988,
 9701174: 19989,
 9701175: 19990,
 9701176: 19991,
 9701177: 19992,
 9701178: 19993,
 9701179: 19994,
 9701180: 19995,
 9701181: 19996,
 9701182: 19997,
 9701183: 19998,
 9701185: 19999,
 9701186: 20000,
 9701187: 20001,
 9701188: 20002,
 9701189: 20003,
 9701190: 20004,
 9701191: 20005,
 9701192: 20006,
 9701193: 20007,
 9907170: 26509,
 9907171: 26510,
 9907172: 26511,
 9907173: 26512,
 9308001: 12365,
 9308002: 12366,
 9308003: 12367,
 9308005: 12368,
 9308006: 12369,
 9308007: 12370,
 9308008: 12371,
 9308009: 12372,
 9308011: 12373,
 9308012: 12374,
 9308013: 12375,
 9308014: 12376,
 9308016: 12377,
 9308017: 12378,
 9308018: 12379,
 9308019: 12380,
 9308020: 12381,
 ...}

In [12]:
train.loc[0,:]['id1']

9510123

In [13]:
train['rno1'] = train.apply(lambda row: id2rno[row['id1']], axis=1)
train['rno2'] = train.apply(lambda row: id2rno[row['id2']], axis=1)
train.head()

       id1      id2  link   rno1   rno2
0  9510123  9502114     1  16827  15446
1  9707075  9604178     1  21154  18059
2  9312155  9506142     0  13074  16171
3  9911255   302165     0  27486   9702
4  9701033   209076     0  19856   8212

In [25]:
test['rno1'] = test.apply(lambda row: id2rno[row['id1']], axis=1)
test['rno2'] = test.apply(lambda row: id2rno[row['id2']], axis=1)
test.head()

       id1      id2   rno1   rno2
0  9807076  9807139  23774  23835
1   109162     1182   5227    172
2  9702187  9510135  20185  16838
3   111048   110115   5621   5397
4  9910176  9410073  27159  14643

In [18]:
from sklearn.metrics.pairwise import cosine_similarity
def getSim(rn1, rn2):
    return cosine_similarity(docs_vec[rn1:(rn1+1), :],
                             docs_vec[rn2:(rn2+1), :])[0][0]

In [26]:
train['sim'] = train.apply(lambda row: getSim(row['rno1'], row['rno2']), axis=1)
train.head()

       id1      id2  link   rno1   rno2       sim
0  9510123  9502114     1  16827  15446  0.064373
1  9707075  9604178     1  21154  18059  0.021211
2  9312155  9506142     0  13074  16171  0.017202
3  9911255   302165     0  27486   9702  0.012634
4  9701033   209076     0  19856   8212  0.059588

In [27]:
test['sim'] = test.apply(lambda row: getSim(row['rno1'], row['rno2']), axis=1)
test.head()

       id1      id2   rno1   rno2       sim
0  9807076  9807139  23774  23835  0.071870
1   109162     1182   5227    172  0.163040
2  9702187  9510135  20185  16838  0.138004
3   111048   110115   5621   5397  0.101857
4  9910176  9410073  27159  14643  0.091231

In [28]:
train.to_csv('train_treated.csv')
test.to_csv('test_treated.csv')